.card {
  border: 1px solid #000045;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  color: rgb(27, 58, 168);
}
.card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}
.card p {
  font-size: 14px;
}
